<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Administrator Menu</title>
    <link rel="stylesheet" href="/CSS/styles/admin-home-page-style.css">
</head>
<body>
<div class="container">
    <div class="content-container">
        <h1>Administrator Menu</h1>
        <form action="/adminHomepage" method="post" class="button-container">
            <button class="movie-button" type="button" onclick="window.location.href='/movie/add'">Crear Películas</button>
            <button class="snack-button" type="button" onclick="window.location.href='/snack/create'">Crear Snack</button>
            <button class="function-button" type="button" onclick="window.location.href='/moviescreening/create'">Crear Función</button>
            <button class="admin-button" type="button" onclick="window.location.href='/administrator/signup'">Crear Cuenta Administrador</button>
            <button class="cinema-button" type="button" onclick="window.location.href='/cinema/create'">Crear Cine</button>
            <button class="screen-button" type="button" onclick="window.location.href='/screen/create'">Crear Sala</button>
        </form>
    </div>
    <button class="home-button" type="button" onclick="window.location.href='/home'">Home</button>
</div>
</body>
</html>
