<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Administrator Menu | WTF</title>
    <link rel="stylesheet" href="/CSS/styles/admin-home-page-style.css">
    <link rel="icon" href="/images/LogoWTF.png" type="image/png" >

</head>

<body>

    <div id="message-container" th:attr="data-message=${message}"></div>

    <script>
        window.onload = function() {

            const messageContainer = document.getElementById('message-container');
            const message = messageContainer.getAttribute('data-message');


            if (message && message !== "null") {
                alert(message);
            }
        };
    </script>

    <div class="container">

        <div class="content-container">

            <h1>Administrator Menu</h1>
            <form action="/adminHomepage" method="post" class="button-container">
                <button class="movie-button" type="button" onclick="window.location.href='/movie/add'">Agregar Película</button>
                <button class="snack-button" type="button" onclick="window.location.href='/snack/create'">Agregar Snack</button>
                <button class="function-button" type="button" onclick="window.location.href='/moviescreening/create'">Crear Función</button>
                <button class="admin-button" type="button" onclick="window.location.href='/administrator/signup'">Crear Cuenta Administrador</button>
                <button class="cinema-button" type="button" onclick="window.location.href='/cinema/create'">Crear Cine</button>
                <button class="screen-button" type="button" onclick="window.location.href='/screen/create'">Crear Sala</button>
            </form>

        </div>
        <button class="home-button" type="button" onclick="window.location.href='/home'">Home</button>

    </div>

</body>
</html>
