<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Create Cinema | WTF </title>
    <link rel="stylesheet" href="/CSS/styles/cinema-creation-style.css">
</head>
<body>
<form action="/cinema/create" method="post">
    <h2> Crear Cine </h2>

    <div class="formulario_input">
        <label for="name">Nombre Cine</label>
        <input type="text" name="name" placeholder="Ingresa el nombre" id="name" required maxlength="30" minlength="2">
    </div>

    <div class="formulario_input">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Ingresa el email de contacto" id="email" required>
    </div>

    <div class="formulario_input">
        <label for="phoneNumber">Número de Teléfono</label>
        <input type="number" name="phoneNumber" placeholder="Ingrese el número de teléfono" id="phoneNumber" required min="0" max="9999999999">
    </div>

    <div class="formulario_input">
        <label for="location">Ubicación</label>
        <input type="text" name="location" placeholder="Ingresa la ubicación" id="location" required minlength="5" maxlength="60">
    </div>

    <div class="formulario_input">
        <input type="submit" name="enviar" value="Enviar">
    </div>
</form>

<div>
        <span style="color: red;">
            <ul th:if="${errorMessages != null}">
                <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
            </ul>
        </span>
</div>

</body>
</html>
