<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles/client-profile.css">
    <title>Client Profile | WTF</title>
</head>
<body>

<header class="header">
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/Logo2_xgiikc" alt="Logo" class="logo">

    <div class="header-links">
        <a href="/home">Home</a>
    </div>
</header>

<div class="container">

    <div class="profile-details">

        <h2 class="section-title">Mi perfil</h2>

        <div class="client-name">
            <p><strong>Nombre:</strong> <span th:text="${client.name}"></span></p>

            <p><strong>Apellido:</strong> <span th:text="${client.surname}"></span></p>

            <p><strong>Cédula:</strong> <span th:text="${client.identityCard}"></span></p>
        </div>

        <form action="/client/profile/update" method="post">

            <h3 class="section-subtitle">Método de Pago</h3>
            <div class="form-group">
                <label for="cardNumber">Numero de tarjeta:</label>
                <input type="text" id="cardNumber" name="cardNumber" th:value="${client.cardNumber}">
            </div>

            <div class="form-group">
                <label for="cardExpirationDate">Card Expiration Date:</label>
                <input type="date" id="cardExpirationDate" name="cardExpirationDate" th:value="${client.cardExpirationDate}" th:min="${todayDate}">
            </div>

            <h3 class="section-subtitle">Cambiar Contraseña</h3>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Nueva contraseña">
            </div>

            <input type="submit" value="Guardar cambios">


        </form>

        <div class="button-group">
            <a href="/tickets" class="button">Ver mis tickets</a>
            <a href="/purchases" class="button">Ver mis compras</a>
        </div>
    </div>
</div>

<div>
        <span style="color: red;">
        <ul th:if="${errorMessages != null}">
            <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
        </ul>
    </span>
</div>

</body>
</html>
