<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Sign Up | WTF </title>
    <link rel="stylesheet" href="/CSS/styles/client-signup-style.css">
    <link rel="icon" href="/images/LogoWTF.png" type="image/png" >
</head>



<body>
<form action="/client/signup" method="post" style="margin-top: 50px;">

    <h2>Registrarse</h2>

    <div class="formulario_input">
        <label for="name">Nombre</label>
        <input type="text" name="name" placeholder="Ingresa tu nombre" id="name" required maxlength="30" minlength="2">
    </div>

    <div class="formulario_input">
        <label for="surname">Apellido</label>
        <input type="text" name="surname" placeholder="Ingresa tu apellido" id="surname" required maxlength="30" minlength="2">
    </div>

    <div class="formulario_input">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Ingresa tu email" id="email" required>
    </div>

    <div class="formulario_input">
        <label for="birthdate">Fecha de Nacimiento</label>
        <input type="date" name="birthDate" placeholder="Fecha de nacimiento" id="birthdate" required th:max="${todayDate}">
    </div>

    <div class="formulario_input">
        <label for="id">Cédula</label>
        <input type="number" name="identityCard" placeholder="Ingrese su cedula de identidad" id="id" required min="0" max="999999999">
    </div>

    <div class="formulario_input">
        <label for="password">Contraseña</label>
        <input type="password" name="password" placeholder="Ingresa tu contrasena" id="password" required minlength="8" maxlength="30" >
    </div>

    <div class="formulario_input">
        <label for="password2">Contraseña</label>
        <input type="password" name="password2" placeholder="Ingresa tu contrasena nuevamente" id="password2" required minlength="8" maxlength="30" >
    </div>

    <div class="formulario_input">
        <input type="submit" name="enviar" value="Enviar">
    </div>


    <div>
            <span style="color: red;">
                <ul th:if="${errorMessages != null}">
                    <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
                </ul>
            </span>
    </div>

</form>

</body>
</html>
