<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Sign Up | WTF </title>

</head>
<body>
    <form action="/client/registro" method="post">

        <h2>Sign Up</h2>

        <div class="formulario_input">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Ingresa tu nombre" id="name">
        </div>

        <div class="formulario_input">
            <label for="surname">Surname</label>
            <input type="text" name="surname" placeholder="Ingresa tu apellido" id="surname">
        </div>

        <div class="formulario_input">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Ingresa tu email" id="email">
        </div>

        <div class="formulario_input">
            <label for="birthdate">Birth Date</label>
            <input type="date" name="birthDate" placeholder="Fecha de nacimiento" id="birthdate">
        </div>

        <div class="formulario_input">
            <label for="id">Identity Card</label>
            <input type="text" name="identityCard" placeholder="Ingrese su cedula de identidad" id="id">
        </div>

        <div class="formulario_input">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Ingresa tu contrasena" id="password">
        </div>

        <div class="formulario_input">
            <label for="password2">Password</label>
            <input type="password" name="password2" placeholder="Ingresa tu contrasena nuevamente" id="password2">
        </div>

        <div class="formulario_input">
            <input type="submit" name="enviar" value="Enviar">
        </div>

    </form>

    <div>
        <span style="color: red;">
            <p th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
        </span>
    </div>

</body>
</html>