<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Compras de Snacks | WTF</title>
    <link rel="stylesheet" href="/CSS/styles/snack-cada-perfil-comprados.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/LogoWTF.png" type="image/png" >

</head>
<body>

<header class="header">
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/Logo2_xgiikc" alt="Logo" class="logo">
        <a href="/home">Home</a>
</header>


<h1>Compras de Snacks</h1>

<div>
    <ul>
        <th:block th:if="${bloqueTodaInfo}">
            <li th:each="purchaseInfo : ${bloqueTodaInfo}">
                <h2 th:text="${purchaseInfo[0]}"></h2>
                <ul>
                    <li th:each="info : ${purchaseInfo}" th:if="${!info.contains('Snacks:')}">
                        <span th:text="${info}"></span>
                    </li>
                </ul>
            </li>
        </th:block>
        <th:block th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </th:block>
    </ul>
</div>
</body>
</html>
