<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Log In | WTF </title>
    <link rel="stylesheet" href="/CSS/styles/login-style.css">
    <link rel="icon" href="/images/LogoWTF.png" type="image/png" >
</head>
<body>
<form action="/login" method="post">

    <div class="logo-form">
        <a href="/home" title="Home">
            <img src="/images/LogoWTF.png" alt="Logo" class="logo" >
        </a>
    </div>

    <h2>Log In</h2>

    <div class="formulario_input">
        <label for="username">Email</label>
        <input type="email" name="username" placeholder="Ingresa tu email" id="username" required>
    </div>

    <div class="formulario_input">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Ingresa tu contraseña" id="password" required minlength="8" maxlength="30">
    </div>

    <div class="formulario_input">
        <input type="submit" name="enviar" value="Iniciar Sesión">
    </div>

    <div>
            <span style="color: red;">
                <ul th:if="${param.error}">
                    <li>Usuario o contraseña incorrectos</li>
                </ul>
            </span>
    </div>
</form>
</body>
</html>
