<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Movie Info | WTF</title>
    <link rel="stylesheet" href="/CSS/styles/movie-ticket-style.css">
    <link rel="icon" href="/images/LogoWTF.png" type="image/png" >
</head>
<body>

<header class="header">
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/Logo2_xgiikc" alt="Logo" class="logo">

    <div class="header-links">
        <div>
            <a href="/home">Home</a>
        </div>
    </div>
</header>

<div class="poster-container" th:style="'background-image: url(' + ${movie.imageURL} + ');'">
    <h1 class="title" th:text="${movie.title}">Título de la Película</h1>
</div>

<div class="content">

    <div class="info-container">

        <h2>Detalles de la Película</h2>

        <p><strong>Fecha de Lanzamiento:</strong> <span th:text="${dateFormated}"></span></p>
        <p><strong>Directores:</strong> <span th:text="${directors}">Nombre de Directores</span></p>
        <p><strong>Sinopsis:</strong> <span th:text="${movie.synopsis}"></span></p>
        <p><strong>Categorías:</strong> <span th:text="${categories}">Nombre de Categorías</span></p>
        <p><strong>Actores:</strong> <span th:text="${actors}">Nombre de Actores</span></p>
        <p><strong>Duración:</strong> <span th:text="${movie.duration}"></span> minutos</p>
        <p><strong>Clasificación:</strong> <span th:text="${movie.classification}"></span></p>

    </div>

    <div th:if="${signed} and ${isClient} and ${funciones != null}" class="purchase-container">

        <h2>Comprar Tickets</h2>

        <form class="purchase-form" action="/ticket/purchase" method="post">

            <input type="hidden" name="title" th:value="${movie.title}" />

            <select id="functionSelect" name="function" required>
                <option value="">-- Selecciona una función --</option>
                <option th:each="function : ${funciones}" th:value="${function}" th:text="${function}"></option>
            </select>

            <button type="submit" class="submit-button">Comprar Tickets</button>

        </form>
    </div>

</div>

</body>
</html>
