<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Movie Screening | WTF</title>
    <link rel="stylesheet" href="/CSS/styles/movie-screening-creation-style.css">
    <link rel="icon" href="/images/LogoWTF.png" type="image/png" >
</head>
<body>

<form action="/moviescreening/create" method="post">
    <h2> Crear Función </h2>

    <div class="formulario_input">
        <label for="date">Fecha</label>
        <input type="datetime-local" name="date" placeholder="Ingrese la fecha de la función" id="date" required th:min="${todayDate}">
    </div>

    <div class="formulario_input">
        <label for="screenCinema">Cine y Sala</label>
        <select name="screenCinema" id="screenCinema" required>
            <option value="">Seleccione un Cine y una Sala</option>
            <option th:each="screenCinema : ${screensCinemas}"
                    th:value="${screenCinema}"
                    th:text="${screenCinema}">
            </option>
        </select>
    </div>

    <div class="formulario_input">
        <label for="title">Título de Película</label>
        <select name="title" id="title" required>
            <option value="">Seleccione un Título de Película</option>
            <option th:each="title : ${moviesTitle}"
                    th:value="${title}"
                    th:text="${title}">
            </option>
        </select>
    </div>

    <div class="formulario_input">
        <input type="submit" name="enviar" value="Enviar">
    </div>
</form>

<div>
        <span style="color: red;">
            <ul th:if="${errorMessages != null}">
                <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
            </ul>
        </span>
</div>

</body>
</html>
