<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Screen Create | WTF </title>
    <link rel="stylesheet" href="/CSS/styles/screen-creation-style.css">
    <link rel="icon" href="/images/LogoWTF.png" type="image/png" >
</head>
<body>
<form action="/screen/create" method="post">
    <input type="hidden" name="cinema" value="1" />

    <h2> Crear Sala </h2>

    <div class="formulario_input">
        <label for="name">Nombre de la Sala</label>
        <input type="text" name="name" placeholder="Ingresa el nombre" id="name" required maxlength="30" minlength="1">
    </div>

    <div class="formulario_input">
        <label for="cinemaSelection"> Cine </label>
        <select name="cinemaName" id="cinemaSelection" required>
            <option value="" disabled selected>Seleccione un cine</option>
            <option th:each="cinemaName : ${allCinemasNames}" th:value="${cinemaName}" th:text="${cinemaName}"></option>
        </select>
    </div>

    <div class="formulario_input">
        <label for="rows"> Filas </label>
        <input type="number" name="rows" placeholder="Ingrese la cantidad de filas" id="rows" required min="1" max="50">
    </div>

    <div class="formulario_input">
        <label for="columns"> Columnas </label>
        <input type="number" name="columns" placeholder="Ingrese la cantidad de columnas" id="columns" required min="1" max="40">
    </div>

    <div class="formulario_input">
        <input type="submit" name="enviar" value="Crear Sala">
    </div>

    <div>
        <span style="color: red;">
            <ul th:if="${errorMessages != null}">
                <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
            </ul>
        </span>
    </div>

</form>



</body>
</html>
