<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Snack Create | WTF</title>
    <link rel="stylesheet" href="/CSS/styles/snack-creation-style.css">
    <link rel="icon" href="/images/LogoWTF.png" type="image/png" >
</head>
<body>
<form action="/snack/create" method="post">
    <h2>Crear Snack</h2>

    <div class="formulario_input">
        <label for="name">Nombre del Snack</label>
        <input type="text" name="name" placeholder="Ingresa el nombre" id="name" required maxlength="30" minlength="2">
    </div>

    <div class="formulario_input">
        <label for="price">Precio</label>
        <input type="number" name="price" placeholder="Ingrese el precio" id="price" required min="0" max="9999">
    </div>

    <div class="formulario_input">
        <label for="imageURL">URL Imagen</label>
        <input type="url" name="imageURL" placeholder="Ingresa el nombre" id="imageURL" required>
    </div>

    <div class="formulario_input">
        <input type="submit" name="enviar" value="Enviar">
    </div>

    <div>
        <span style="color: red;">
            <ul th:if="${errorMessages != null}">
                <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
            </ul>
        </span>
    </div>

</form>

</body>
</html>
