<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/styles/style.css">
</head>
<body>

<header class="header">
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/Logo2_xgiikc" alt="Logo" class="logo">

    <div class="header-links">
        <div th:if="${signed}">
            <div th:if="${rol_user_actual == 'ROLE_CLIENT'}">
                <a href="/client/profile">Mi perfil</a>
                <a href="/snack/purchase">Comprar Snack</a>
                <a href="/logout">Cerrar Sesión</a>
            </div>
            <div th:if="${rol_user_actual == 'ROLE_ADMIN'}">
                <a href="/adminHomepage">Administrar Cine</a>
                <a href="/logout">Cerrar Sesión</a>
            </div>
        </div>
        <div th:unless="${signed}">
            <a href="/login">Iniciar Sesión</a>
            <a href="/client/signup">Registrarse</a>
        </div>
    </div>
</header>


<div class="imagen-Grande-container">
    <img src=https://images-ext-1.discordapp.net/external/3ux9d4ob8ZLtDPzOWd_NGlfBjhth_WIJMjUuryPWV9E/https/i.blogs.es/c76165/carteles-cine-terror/1366_2000.jpg?format=webp&width=1124&height=701 alt="Imagen Grande" class="imagen-Grande">
</div>
<div class="imagen-Central-container">
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/Logo2_xgiikc" alt="Imagen Central" class="imagen-Central">
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/image_lnyivk" alt="Imagen Secundaria" class="imagen-Secundaria">
</div>


<div class="gallery-wrap">
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/Left_k12q7o" id="backBtn" alt="Atrás">
    <div class="gallery">
        <div th:each="movie : ${movies}" class="gallery-item">
            <a th:href="@{/movie/info(title=${movie.title})}">
                <img th:src="${movie.posterURL}" alt="Imagen de la película" />
            </a>
        </div>
    </div>
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/Right_aviijh" id="nextBtn" alt="Siguiente">
</div>

<script>


    let scrollContainer = document.querySelector(".gallery");
    let backBtn = document.getElementById("backBtn");
    let nextBtn = document.getElementById("nextBtn");

    scrollContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY;
        scrollContainer.style.scrollBehavior = "auto";
    });

    nextBtn.addEventListener("click", () => {
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft += 900;
    });

    backBtn.addEventListener("click", () => {
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft -= 900;
    });
</script>

</body>
</html>
