<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/styles/style.css">
</head>
<body>

<header class="header">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl7OiJqVRnvriUcBOhMt0z2Muqur5qc35nTA&s" alt="Logo" class="logo">

    <div class="header-links">
        <div th:if="${signed}">
            <div th:if="${rol_user_actual == 'ROLE_CLIENT'}">
                <a href="/snack/purchase">Comprar Snack</a>
                <a href="/logout">Cerrar Sesión</a>
            </div>
            <div th:if="${rol_user_actual == 'ROLE_ADMIN'}">
                <a href="/adminHomepage">Administrar Cine</a>
                <a href="/logout">Cerrar Sesión</a>
            </div>
        </div>
        <div th:unless="${signed}">
            <a href="/login">Iniciar Sesión</a>
            <a href="/client/signup">Registrarse</a>
        </div>
    </div>
</header>


<div class="imagen-Grande-container">
    <img src="https://m.media-amazon.com/images/S/pv-target-images/d775fb8599018935d1e28ed9cbc2fb67870d726d850f0eee13dc6f50f37b76d3.jpg" alt="Imagen Grande" class="imagen-Grande">
</div>


<div class="gallery-wrap">
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/ydd7wnq5nvam8s1mbzog" id="backBtn" alt="Atrás">
    <div class="gallery">
        <div th:each="movie : ${movies}" class="gallery-item">
            <img th:src="${movie.posterURL}" alt="Imagen de la película" />
            <a th:href="@{/movie/info(titulo=${movie.title})}">
        </div>
    </div>
    <img src="https://res.cloudinary.com/drmjvrs2p/image/upload/hkdlf5fytenwp8ljmu12" id="nextBtn" alt="Siguiente">
</div>

<script>
    let scrollContainer = document.querySelector(".gallery");
    let backBtn = document.getElementById("backBtn");
    let nextBtn = document.getElementById("nextBtn");

    scrollContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY;
        scrollContainer.style.scrollBehavior = "auto";
    });

    nextBtn.addEventListener("click", () => {
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft += 900;
    });

    backBtn.addEventListener("click", () => {
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft -= 900;
    });
</script>

</body>
</html>
