
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1px;
}
body {
    background-image: url("/images/Fondo2.png");
    color: #ffffff;
}
header {
    background-color: rgba(0, 0, 0, 0.56);
    padding: 0px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.49);
}
.logo {
    max-height: 100px;
    margin-right: 20px;
    margin-left: 20px;
}
.card {
    background-color: rgba(0, 0, 0, 0.81);
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.btn-home {
    font-family: Arial;
    font-size: 17px;
    color: rgb(201, 201, 201);
    margin-right: 20px;
    background: rgba(0, 216, 255, 0);
    border: rgba(0, 255, 221, 0);
    transition: background-color 0.2s;
}
.btn-home:hover {
    margin-right: 20px;
    text-decoration: none;
    background: rgba(12, 12, 12, 0);
    border: rgba(0, 255, 221, 0);
    color: #ffffff;
}

.btn-primary {
    font-family: Arial;
    font-size: 17px;
    color: rgb(201, 201, 201);
    margin-right: 20px;
    background: rgb(61, 132, 215);
    border: rgba(33, 72, 98, 0);
    transition: background-color 0.2s;
}
.btn-primary:hover {
    margin-right: 20px;
    background: rgba(51, 148, 168, 0.81);
    border: rgba(0, 255, 221, 0);
    color: #ffffff;
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: background-color 0.2s;
}
.btn-danger:hover {
    background-color: #c82333;
}
#carrito {
    background-color: rgba(0, 0, 0, 0.77);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#carrito li {
    background-color: rgba(51, 48, 48, 0.95);
    color: #ffffff;
}
#total {
    color: #ffffff;
}
.main-content {
    margin-top: 20px;
}
